@import "ui-variables";

.xatom-debug-location {
  &.line,
  &.line-number {
    // background-color: fadeOut(@background-color-info, 50%)!important;
    // border: 1px solid fadeOut(@background-color-info, 25%);
    background-color: fadeOut(@background-color-info, 50%)!important;
  }
  &.line {
    opacity: 1;
    border-left: 0;
  }
  &.line-number {
    opacity: 1;
    border-right: 0;
  }
}
